.block_ {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 15pt 0 5pt;
    padding: 0
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    margin: 0;
    padding: 0
    }
.block_2 {
    color: black;
    display: block;
    margin: 0;
    padding: 0
    }
.block_3 {
    display: block;
    margin: 8pt 0;
    padding: 0
    }
.block_4 {
    background-color: #FFF;
    display: block;
    font-style: italic;
    margin: 8pt 0;
    padding: 0
    }
.block_5 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin: 15pt 0 5pt;
    padding: 0
    }
.block_6 {
    color: #000;
    display: block;
    font-style: italic;
    margin: 0;
    padding: 0
    }
.block_7 {
    background-color: #FFF;
    display: block;
    margin: 8pt 0;
    padding: 0
    }
.block_8 {
    background-color: #FFF;
    display: block;
    font-style: italic;
    margin: 0;
    padding: 0
    }
.block_9 {
    background-color: #FFF;
    display: block;
    margin: 0;
    padding: 0
    }
.block_10 {
    display: block;
    margin: 0;
    padding: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre2 {
    display: list-item;
    list-style-type: none;
    margin-left: 0;
    padding-left: 2em
    }
.calibre3 {
    text-decoration: none
    }
.calibre4 {
    color: #222;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre5 {
    font-style: italic
    }
.level {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.text_ {
    color: #000
    }
.text_1 {
    background-color: #FFF;
    color: #222;
    font-style: italic
    }
.text_2 {
    background-color: #FFF
    }
.text_3 {
    background-color: #FFF;
    font-style: italic
    }
.text_4 {
    background-color: #FFF;
    color: #222
    }
.text_5 {
    color: #000;
    font-style: italic
    }
.pcalibre:hover {
    color: red
    }
